@{
    ViewData["Title"] = "My Contact Page";
}

<link rel="stylesheet" href="~/css/contact.css" />

<div class="text-center">
    <h1 class="display-4 text-pink my-shrift margin-top">My Contacts</h1>

    <br />

    <p class="text-white font-size22">
        You can contact me at:
    </p>

    <br />
    <br />

    <div class="font-size20">
        <p class="text-white">
            <img src="~/contacts/email.png" alt="email" width="40" height="40">
            <span class="text-pink">E-mail:</span>  &nbsp;&nbsp; zanovasevi@gmail.com
        </p>
        <p class="text-white" id="address">
            <img src="~/contacts/location.png" alt="location" width="30" height="30">
            &nbsp;
            <span class="text-pink">Address:</span> &nbsp;&nbsp; Sofia city
        </p>
        <p class="text-white" id="phone">
            <img src="~/contacts/phone.png" alt="phone" width="40" height="40">
            <span class="text-pink">Phone number:</span> &nbsp;&nbsp;  +359 897 332**
        </p>

    </div>
</div>