@{
    ViewData["Title"] = "My Courses Page";
}

<link href="~/css/courses.css" rel="stylesheet" type="text/css" />

<div class="width100">
    <h1 class="display-4 text-pink my-shrift margin-top text-center">COURSES</h1>
    <p class="text-white font-size22 text-center">
        Until now I do not have any experience in the IT field.
        I went through the professional software engineering program of
        SoftUni with a specialization - <span class="text-pink">C#</span>.
        The courses I have taken are:
    </p>
    <p class="text-center"><a href="/Certificate/Certificate" class="links">(Click to see CERTIFICATES)</a></p>

    <br />

    <div class="paddingTop paddingBottom row">
        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;ENTRY MODULE -
            </span>
            <span class="float-left right">where the basics of programming are studied.</span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;FUNDAMENTALS MODULE -
            </span>
            <span class="float-left right">where I gained fundamental knowledge on C#.</span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;ADVANCED MODULE -
            </span>

            <span class="float-left right">
                where the skills for working with the C# language and the .NET platform
                <span class="points">...</span>
                <span class="text float-left">
                    are upgraded. I studied linear data structures, solving algorithmic problems,working with streams, files and directories, creating template classes, LINQ and others.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;OOP MODULE -
            </span>

            <span class="float-left right">
                where I studied the principles of object-oriented programming, to work
                <span class="points">...</span>
                <span class="text float-left">
                    with classes and objects, to use object-oriented modeling and to build hierarchies of classes, SOLID principles and others.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;MS SQL -
            </span>

            <span class="float-left right">
                where serious attention was paid to the relational model, data modeling
                <span class="points">...</span>
                <span class="text float-left">
                    with ER diagrams (tables and relational links) and work with the SQL language
                    (data extraction, selection, projection, connections, aggregation, grouping, change, delete and insert).
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;ENTITY FRAMEWORK CORE -
            </span>

            <span class="float-left right">
                here I studied the "database first" and "code first" approaches, database
                <span class="points">...</span>
                <span class="text float-left">
                    queries and performing CRUD operations, as well as importing and exporting to various data formats (JSON, XML).
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;WEB BASICS -
            </span>

            <span class="float-left right">
                here I studied asynchronous programming, working with HTTP protocol,
                <span class="points">...</span>
                <span class="text float-left">
                    cookies and sessions, working with MVC template and others.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;ASP.NET CORE -
            </span>

            <span class="float-left right">
                here I studied how to make web applications with the Model-View-
                <span class="points">...</span>
                <span class="text float-left">
                    Controller architecture using HTML5, databases, Entity Framework Core, Razor view engine and other technologies.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;JS ADVANCED -
            </span>

            <span class="float-left right">
                here I learned the basics of syntax, working with arrays, objects,
                <span class="points">...</span>
                <span class="text float-left">
                    classes and writing functions, working with the DOM tree, manipulating it and working with events.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />

        <div class="text-white font-size20 width100 paddingBottom">
            <span class="text-pink my-shrift float-left left">
                <span class="text-white">*</span>
                &nbsp;&nbsp;JS APPLICATIONS -
            </span>

            <span class="float-left right">
                here I learned HTTP requests and how to use them, REST Services,
                <span class="points">...</span>
                <span class="text float-left">
                    Promises, async / await, Templating and Routing, SPA and others.
                </span>
                <button type="button" class="float-right btn btn-outline">show more</button>
            </span>
        </div>

        <br />
    </div>
</div>

<script src="~/js/coursesJS.js"></script>