@{
    ViewData["Title"] = "My Personal Page";
}

<link rel="stylesheet" href="~/css/personal.css" />

<div class="text-center">
    <h1 class="display-4 text-pink my-shrift margin-top">Personal Information</h1>
</div>

<br />

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">MY MOTIVATION</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>I am a person who sets goals and works to achieve them.</p>
                <p>
                    I have musical talents and as a child
                    I dreamed of becoming a sound engineer. After years of studying at a music academy and completing
                    a master's degree in sound engineering, I started working for a large Bulgarian concert sound company.
                    Starting from the lowest level, over time I was the leader of the team that led the process and the
                    team and was responsible for everything related to the sound of a concert. I made my dream of becoming
                    a sound engineer come true.
                </p>
                <p>
                    My other dream was to become a mother. It wasn't as easy as I wanted it to be.
                    But with time and perseverance, this dream of mine also came true. In the last month of my pregnancy I
                    had to stay at home and rest, but it was difficult for an active person like me. I wanted to learn new
                    things.
                </p>
                <p>
                    Accidentally I saw a free C # programming course. I started it out of interest. With each passing
                    day and lecture, my interest and curiosity deepened. After successfully passing the course I gave birth to
                    a child. I signed up for the next level of the course but the first year of motherhood turned out to be a
                    difficult and new thing for me in my life. After about a year, everything was back on track and my desire to
                    continue programming had grown even stronger. Thus, level after level, I completed the entire SoftUni program
                    with the C# language.
                </p>
                <p>
                    This is my new dream to develop and study, to become a good developer. I want to start
                    from the lowest level, to grow, to learn from experienced people, to be part of a talented and cohesive team.
                </p>
                <p>
                    <span class="text-pink bold"><b>I HAVE A DREAM</b></span> that I will put my heart and soul into!
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">PERSONAL DETAILS</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Name:</td>
            <td>Sevdalina Rumenova Zanova</td>
        </tr>
        <tr>
            <td class="firstCol">Date of birth:</td>
            <td>XX.XX.XXXX</td>
        </tr>
        <tr>
            <td class="firstCol">Address:</td>
            <td>Sofia city</td>
        </tr>
        <tr>
            <td class="firstCol">E-mail:</td>
            <td>zanovasevi@gmail.com</td>
        </tr>
        <tr>
            <td class="firstCol">Phone number:</td>
            <td>+359 XXX XXXXXX</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">WORK EXPERIENCE</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Period:</td>
            <td>04.2021 - Present</td>
        </tr>
        <tr>
            <td class="firstCol">Name and address of the employer:</td>
            <td>Sound And Dance - Backline Rental Company Ltd.</td>
        </tr>
        <tr>
            <td class="firstCol">Business activity:</td>
            <td>rental of musical instruments and stage equipment</td>
        </tr>
        <tr>
            <td class="firstCol">Position:</td>
            <td>sound engineer</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">WORK EXPERIENCE</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Period:</td>
            <td>03.2012 - 03.2021</td>
        </tr>
        <tr>
            <td class="firstCol">Name and address of the employer:</td>
            <td>THC Ltd.</td>
        </tr>
        <tr>
            <td class="firstCol">Business activity:</td>
            <td>sounding of concerts and cultural events</td>
        </tr>
        <tr>
            <td class="firstCol">Position:</td>
            <td>sound engineer</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">EDUCATION</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Academy of Music, Dance and Fine Arts - Plovdiv</td>
            <td>MASTER - sound engineering</td>
        </tr>
        <tr>
            <td class="firstCol">Academy of Music, Dance and Fine Arts - Plovdiv</td>
            <td>BACHELOR - music pedagogy with piano</td>
        </tr>
    </tbody>
</table>

<script src="~/js/personalJS.js"></script>