@{
    ViewData["Title"] = "My Personal Page";
}

<link rel="stylesheet" href="~/css/personal.css" />

<div class="text-center">
    <h1 class="display-4 text-pink my-shrift margin-top">Personal Information</h1>
</div>

<br />

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">PERSONAL DETAILS</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Name:</td>
            <td>Sevdalina Rumenova Zanova</td>
        </tr>
        <tr>
            <td class="firstCol">Date of birth:</td>
            <td>6.01.****</td>
        </tr>
        <tr>
            <td class="firstCol">Address:</td>
            <td>Sofia city</td>
        </tr>
        <tr>
            <td class="firstCol">E-mail:</td>
            <td>zanovasevi@gmail.com</td>
        </tr>
        <tr>
            <td class="firstCol">Phone number:</td>
            <td>+359 897 332***</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">WORK EXPERIENCE</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Period:</td>
            <td>04.2021 - Present</td>
        </tr>
        <tr>
            <td class="firstCol">Name and address of the employer:</td>
            <td>Sound And Dance - Backline Rental Company Ltd.</td>
        </tr>
        <tr>
            <td class="firstCol">Business activity:</td>
            <td>rental of musical instruments and stage equipment</td>
        </tr>
        <tr>
            <td class="firstCol">Position:</td>
            <td>sound engineer</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">WORK EXPERIENCE</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Period:</td>
            <td>03.2012 - 03.2021</td>
        </tr>
        <tr>
            <td class="firstCol">Name and address of the employer:</td>
            <td>THC Ltd.</td>
        </tr>
        <tr>
            <td class="firstCol">Business activity:</td>
            <td>sounding of concerts and cultural events</td>
        </tr>
        <tr>
            <td class="firstCol">Position:</td>
            <td>sound engineer</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th class="text-pink">EDUCATION</th>
            <th><button type="button" class="float-right btn btn-outline btn-sm">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="firstCol">Academy of Music, Dance and Fine Arts - Plovdiv</td>
            <td>MASTER - sound engineering</td>
        </tr>
        <tr>
            <td class="firstCol">Academy of Music, Dance and Fine Arts - Plovdiv</td>
            <td>BACHELOR - music pedagogy with piano</td>
        </tr>
    </tbody>
</table>

<script src="~/js/personalJS.js"></script>