@{
    ViewData["Title"] = "My GitHub Page";
}

<div class="text-center">
    <h1 class="display-4 text-pink my-shrift margin-top">My GitHub Page</h1>

    <br />

    <img src="~/github/github.png" alt="github" width="40" height="40">
    &nbsp;
    <a href="https://github.com/zanovasevi" target="_blank" class="text-white font-size22">Visit my GitHub from here :)</a>
</div>