@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="container text-center">    
    <h1 class="display-4 text-pink my-shrift margin-top">Hello World</h1>

    <div class="column">
        <img id="my-image" src="~/pictures/me.png" alt="me" />
    </div>

    <div class="column">
        <p class="text-white font-size18">
            A Bit About Me...
        </p>
        
        <div>
            <p class="text-white text-margin-top">
                My name is Sevdalina Zanova and this is my
                web page. Here you will find personal information
                about me, my motivation, the courses I have studied, the certificates I received
                and my contacts.
            </p>
            <p class="text-white font-size20">Enjoy!</p>
        </div>
    </div>
</div>