@{
    ViewData["Title"] = "My Certificate Page";
}

<link rel="stylesheet" href="~/css/certificate.css" />

<div class="text-center">
    <h1 class="display-4 text-pink my-shrift margin-top">My Certificates</h1>
</div>
   <br />

   <div class="all">
       <div class="row row-margin-left">
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-fundamentals.png">
                       <img src="~/cert/cert-fundamentals.png" alt="cert-fundamentals" width="600" height="400">
                   </a>
                   <div class="desc text-white">FUNDAMENTALS</div>
               </div>
           </div>
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-advanced.png">
                       <img src="~/cert/cert-advanced.png" alt="cert-advanced" width="600" height="400">
                   </a>
                   <div class="desc text-white">ADVANCED</div>
               </div>
           </div>
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-msSql.png">
                       <img src="~/cert/cert-msSql.png" alt="cert-msSql" width="600" height="400">
                   </a>
                   <div class="desc text-white">MS SQL</div>
               </div>
           </div>
       </div>
       <div class="row row-margin-left">
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-webBasics.png">
                       <img src="~/cert/cert-webBasics.png" alt="cert-webBasics" width="600" height="400">
                   </a>
                   <div class="desc text-white">WEB BASICS</div>
               </div>
           </div>
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-jsAdvanced.png">
                       <img src="~/cert/cert-jsAdvanced.png" alt="cert-jsAdvanced" width="600" height="400">
                   </a>
                   <div class="desc text-white">JS ADVANCED</div>
               </div>
           </div>
           <div class="responsive">
               <div class="gallery">
                   <a target="_blank" href="~/cert/cert-jsApplications.png">
                       <img src="~/cert/cert-jsApplications.png" alt="cert-jsApplications" width="600" height="400">
                   </a>
                   <div class="desc text-white">JS APPLICATION</div>
               </div>
           </div>
       </div>
   </div>