/* --- Certificates --- */
.column {
    float: left;
    width: 100%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row-margin-left {
    margin-left: 100px;
}
div.gallery {
    border: 5px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 15px 20px;
    float: left;
    width: 30%;
}
clearfix:after {
    content: "";
    display: table;
    clear: both;
}